@import 'font.css';

:root {
    --body: #fff;
    --white: #fff;
    --text: #323232;
    --link: #7177F1;
    --title: #7177F1;
    --btn: #7177F1;
    --dots-active: #7177F1;
    --dots: #828282;
    --font_M: 'Montserrat';
    --font_T: 'Trebuchet';
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: var(--body);
    font-family: var(--font_M);
    color: var(--text);
}

.logo::before {
    content: url(../img/svg/logo-light.svg);
}

.all-btn {
    background: var(--btn);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    color: var(--white) !important;
    padding: 10px 0;
    text-transform: capitalize;
    display: block;
    text-align: center;
    transition: 500ms;
}

.all-btn:hover {
    background: var(--white);
    color: var(--btn) !important;
}

.title {
    font-weight: 600;
    font-size: 40px;
    color: var(--title);
}

@keyframes animation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg) scale(1.2);
        border-radius: 0;
    }
}

/* ==================================== Header start =============================== */


.header__nav {
    position: relative;
}

.header__nav::before {
    content: '';
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    left: 243.95px;
    top: 32px;
    border-radius: 50%;
    border: 0.3vw solid #790FF1;
    z-index: -1;
    animation: animation 2s linear infinite alternate;
}

.header__nav::after {
    content: '';
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    right: 42px;
    top: 80.26px;
    border: 0.3vw solid #9297EF;
}

.header__list {
    column-gap: 30px;
}

.header__link {
    font-size: 24px;
    line-height: 16px;
    color: var(--link);
    text-transform: capitalize;
}

.header__link-btn {
    width: 190px;
}

.header__menu {
    width: 40px;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    position: relative;
    transition: 500ms;
}

.header__menu::before,
.header__menu::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    transition: 500ms;
}

.header__menu::after {
    top: 10px;
}

.header__menu:focus {
    box-shadow: unset;
}

.header__menu:not(.collapsed)::before {
    top: 0;
    transform: rotate(222deg);
}
.header__menu:not(.collapsed)::after {
    top: 0;
    transform: rotate(-222deg);
}

.header__menu.collapsed {
    background: var(--text);
}

.header__content {
    margin-top: 52px;
    position: relative;
}

.header__content::before {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 86%;
    top: 419.38px;
    border: 0.3vw solid #7177F1;
    animation: animation 2s linear infinite alternate;
}
.header__content::after {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    right: 88%;
    top: 92.64px;
    border: 0.3vw solid #9297EF;
    animation: animation 2s linear infinite alternate;
}

.header__content-subtitle {
    font-size: 24px;
    font-weight: 600;
}

.header__content-btn {
    max-width: 300px;
    margin: 25px auto 50px;
}

.header__tech-card:first-of-type .header__tech-brand {
    color: #F1662A;
}
.header__tech-card:nth-of-type(2) .header__tech-brand {
    color: #33A9DC;
}
.header__tech-card:nth-of-type(3) .header__tech-brand {
    color: #790FF1;
}

.header__tech-name {
    color: var(--title);
    font-size: 20px;
}

.header__carousel-indicators {
    position: static;
    margin: 50px 0 0;
}

.header__carousel-dots {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background: var(--dots) !important;
    border: none !important;
}

.header__carousel-dots.active {
    background: var(--dots-active) !important;
}

.header__carousel-img {
    max-height: 500px;
}