@import 'font.css';

:root {
    --body: #fff;
    --white: #fff;
    --text: #323232;
    --link: #7177F1;
    --title: #7177F1;
    --btn: #7177F1;
    --dots-active: #7177F1;
    --dots: #828282;
    --font_M: 'Montserrat';
    --font_T: 'Trebuchet';
    --btn-2: #7177F1;
    --footer-link: #fff;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: var(--body);
    font-family: var(--font_M);
    color: var(--text);
}

.logo::before {
    content: url(../img/svg/logo-light.svg);
}

.all-btn {
    background: var(--btn);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    color: var(--white) !important;
    padding: 10px 0;
    text-transform: capitalize;
    display: block;
    text-align: center;
    transition: 500ms;
}

.all-btn:hover {
    background: var(--white);
    color: var(--btn) !important;
}

.title {
    font-weight: 600;
    font-size: 40px;
    color: var(--title);
}

@keyframes animation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg) scale(1.2);
        border-radius: 0;
    }
}

/* ==================================== Header start =============================== */


.header__nav {
    position: relative;
}

.header__nav::before {
    content: '';
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    left: 243.95px;
    top: 32px;
    border-radius: 50%;
    border: 0.3vw solid #790FF1;
    z-index: -1;
    animation: animation 2s linear infinite alternate;
}

.header__nav::after {
    content: '';
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    right: 42px;
    top: 80.26px;
    border: 0.3vw solid #9297EF;
}

.header__list {
    column-gap: 30px;
}

.header__link {
    font-size: 24px;
    line-height: 16px;
    color: var(--link);
    text-transform: capitalize;
}

.header__link-btn {
    width: 190px;
}

.header__menu {
    width: 40px;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    position: relative;
    transition: 500ms;
}

.header__menu::before,
.header__menu::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    transition: 500ms;
}

.header__menu::after {
    top: 10px;
}

.header__menu:focus {
    box-shadow: unset;
}

.header__menu:not(.collapsed)::before {
    top: 0;
    transform: rotate(222deg);
}
.header__menu:not(.collapsed)::after {
    top: 0;
    transform: rotate(-222deg);
}

.header__menu.collapsed {
    background: var(--text);
}

.header__content {
    margin-top: 52px;
    position: relative;
}

.header__content::before {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 86%;
    top: 419.38px;
    border: 0.3vw solid #7177F1;
    animation: animation 2s linear infinite alternate;
}
.header__content::after {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    right: 88%;
    top: 92.64px;
    border: 0.3vw solid #9297EF;
    animation: animation 2s linear infinite alternate;
}

.header__content-subtitle {
    font-size: 24px;
    font-weight: 600;
}

.header__content-btn {
    max-width: 300px;
    margin: 25px auto 50px;
}

.header__tech-card:first-of-type .header__tech-brand {
    color: #F1662A;
}
.header__tech-card:nth-of-type(2) .header__tech-brand {
    color: #33A9DC;
}
.header__tech-card:nth-of-type(3) .header__tech-brand {
    color: #790FF1;
}

.header__tech-name {
    color: var(--title);
    font-size: 20px;
}

.header__carousel-indicators {
    position: static;
    margin: 50px 0 0;
}

.header__carousel-dots {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background: var(--dots) !important;
    border: none !important;
}

.header__carousel-dots.active {
    background: var(--dots-active) !important;
}

.header__carousel-img {
    max-height: 500px;
}

/* ============================== About start ======================== */

.about {
    padding: 80px 0;
    position: relative;
}

.about::before {
    content: url(../img/svg/figure_1.svg);
    position: absolute;
    right: 0;
    top: -70%;
    z-index: -1;
}

.about__image {
    position: relative;
}

.about__btn {
    width: 190px;
    padding: 13px 0;
    position: absolute;
    top: 18px;
    left: -90px;
}

.about__btn i {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #0FDAC2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -19px;
    right: -19px;
}

.about__desc {
    display: grid;
    row-gap: 25px;
    background: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 34px 30px 24px;
}

.about__desc-txt {
    text-transform: capitalize;
}

.about__desc-btn {
    width: 190px;
}


/* ================================ Capabilities start ================================ */

.capabilities {
    padding: 80px 0;
}

.capabilities__title {
    margin-bottom: 30px;
}

.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    overflow: hidden;
}

.accordion__button {
    width: 100%;
    border: none;
    background: var(--title);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 900;
    color: var(--white);
    position: relative;
}

.accordion__button.collapsed {
    background: var(--body);
    color: var(--title);
}

.accordion__item:first-of-type .accordion__button.collapsed .accordion__brand {
    color: #E44F26;
}
.accordion__item:nth-of-type(2) .accordion__button.collapsed .accordion__brand {
    color: #33A9DC;
}

.accordion__brand-down {
    font-size: 25px;
    transform: rotate(0);
    transition: 500ms;
}

.accordion__body {
    font-size: 18px;
    text-transform: capitalize;
    padding: 25px 30px 55px;
    background: var(--title);
    color: var(--white);
}

.accordion__item .accordion__button.collapsed .accordion__brand-down {
    transform: rotate(180deg);
}

.accordion__item:first-of-type .accordion__button.collapsed::before, 
.accordion__item:nth-of-type(2) .accordion__button.collapsed::before {
    content: '';
    position: absolute;
    height: 1px;
    background: #ddd;
    width: 95%;
    bottom: 0;
}

/* ---------------------------------------- works start ---------------------------- */


.works {
    margin-bottom: 200px;
    position: relative;
}
.works::after {
    content: url(../img/svg/figure_2.svg);
    position: absolute;
    left: 0;
    top: -70%;
    z-index: -1;
}

.works__tab-list {
    border-radius: 8px;
}

.works__tab-link {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 19px 20px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    background: var(--body);
    color: var(--title);
}

.works__tab-link.active {
    background: var(--title);
    color: var(--body);
}

.works__tab-desc {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 20px;
    background: var(--body);
}

.works__tab-image {
    /* width: 250px; */
    height: 355px;
    border-radius: 8px;
    overflow: hidden;
}

.works__tab-image img {
    height: 100%;
    object-fit: cover;
}

.works__tab-txt {
    font-size: 18px;
}
.works__tab-title {
    font-size: 18px;
}

.works__tab-btn {
    width: 190px;
}

.footer {
    margin-bottom: 133px;
}

.footer__link {
    color: var(--footer-link);
    font-style: 24px;
}

.footer__link:hover,
.footer__call:hover,
.footer__email:hover {
    text-decoration: underline;
    color: var(--white);
}


.footer__call,
.footer__email {
    color: var(--footer-link);
    font-size: 24px;
}
